.calendar {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.calendar-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.title h2 {
  margin: auto;
}

.tools {
  display: flex;
  align-items: center;
}

.tools button {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
}

.tools button span:hover {
  color: #99cccc;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.weekday {
  flex: 1;
  text-align: center;
}

.table-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.calendar-day {
  flex: 1 0 14%; /* Adjusts the size based on the container width */
  height: 80px; /* Adjust the height to fit your design */
  position: relative;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden; /* Ensure content within the calendar day does not overflow */
}

.calendar-day:hover {
  background-color: rgba(0, 0, 0, .10);
}

.calendar-day .calendar-day-number {
  position: absolute;
  top: 5px;
  right: 10px;
}

.calendar-day .calendar-day-number p {
  color: #a6a6a6;
}

.calendar-day.current .calendar-day-number p {
  color: #000000;
}

.calendar-day.selected .calendar-day-number p {
  color: #cc0000;
  font-weight: bold;
}

.tasks {
  margin-top: 25px; /* Adjust to make space for the calendar day number */
  max-height: 45px; /* Set a maximum height for the tasks container */
  overflow-y: auto; /* Enable vertical scrolling */
  text-align: left;
}

.task {
  margin-top: 5px;
  color: #000000;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .calendar-day {
    flex: 1 0 16%;
  }
}

@media (max-width: 992px) {
  .calendar-day {
    flex: 1 0 20%;
  }
}

@media (max-width: 768px) {
  .calendar-day {
    flex: 1 0 25%;
  }
}

@media (max-width: 576px) {
  .calendar-day {
    flex: 1 0 33.33%;
  }
}

@media (max-width: 400px) {
  .calendar-day {
    flex: 1 0 50%;
  }
}
