
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Override Bootstrap variables before importing the rest of Bootstrap
$primary: #5EC57E;
$secondary: #ECF8E5;
$sidebar-bg: #ECF8E5; //previous color: #B7C4B1
$topbar-bg: #B7C4B1; // previous color: #ECF8E5
$breadcrumb-bg: #ECF8E5;
$success: #5EC57E;
$light: #ECF8E5;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

@font-face {
    font-family: 'Aptos';
    src: url("../assets/fonts/Aptos.woff") format("woff"),
         url("../assets/fonts/Aptos.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif: 'Aptos', sans-serif;
$font-family-base: 'Aptos', sans-serif;

h1, h2, h3, h4, h5, h6 {
    color: #347571;
}

p {
    color: #347571;
    font-weight: 300;
}

.display-4 {
    color: #347571;
    
}

.navbar .btn-secondary {
    background-color: $topbar-bg;
    border-color: $topbar-bg;
    

    &:hover {
        background-color: lighten($topbar-bg, 10%);
        border-color: lighten($topbar-bg, 10%);
    }
}

.navbar-nav .dropdown-menu .dropdown-item.custom-dropdown-item {
    display: flex;
    justify-content: start;
    text-align: center;

    .icon {
        margin-right: 10px;
    }
        &:hover {
            background-color: lighten($secondary, 10%);
            color: darken($primary, 10%);
        }
        &:active {
            background-color: lighten($secondary, 10%);
            color: darken($primary, 10%);
        }
        
    
}

.main-layout {
    .navbar {
        z-index: 1000; // Ensure navbar is above sidebar
        background-color: $topbar-bg;
        margin-bottom: 0;
    }

    .d-flex {
        display: flex;
    }

    .sidebar {
        height: 100vh;
        background-color: $sidebar-bg;
        padding-top: 20px;
        transition: width 0.3s ease;
        overflow-x: hidden;

        &.collapsed {
            width: 80px;

            .nav-link {
                justify-content: center;
            }
        }

        &.expanded {
            width: 250px;
        }

        .nav-link {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            color: black;

            &:hover {
                background-color: lighten($sidebar-bg, 10%);
            }

            span {
                margin-left: 10px;
            }
        }

        .divider {
            border-top: 1px solid #777;        
        }
    }

    .breadcrumb .breadcrumb-link a {
        text-decoration: none;
    }

    
    .toggle-btn {
        background-color: $breadcrumb-bg;
        border-color: $breadcrumb-bg;

        &:hover {
            background-color: lighten($breadcrumb-bg, 15%);
            border-color: lighten($breadcrumb-bg, 15%);
        }
    }

    .content-container {
        padding: 20px;
        margin: 0;
    }

    .card {
        border-radius: 10px;
        &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    }

    .nav-tabs {
        .nav-item {
            .nav-link {
                color: #347571;
                &:hover {
                    color: $primary;
                }
                &.active {
                    color: $primary;
                }
            }
        }
    }

    .task-check-before {
        &:hover {
            cursor: pointer;
        }
        &:active {
            color: $success;
        }

    }

    .task-check-after {
        color: $success;
        &:hover {
            cursor: pointer;
        }
        &:active {
            color: black;
        }
    }

    .progress {
        .progress-bar {
            background-color: $success;
        }
    }

    .recent {
        text-decoration: none;
        color: #347571;

        &:hover {
            text-decoration: none;
            color: $primary;
        }
    }

    .pending-project {
        color: #347571;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: $primary;
        }
    }

    .pending-task {
        color: black;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: $primary;
        }
    
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .btn-secondary {
        width: 100%;
        margin-bottom: 10px;
        &:hover {
            background-color: lighten($secondary, 10%);
            border-color: lighten($secondary, 10%);
            color: darken($primary, 10%);
        }
    }

    .dropdown-menu {
        width: 100%;
        text-align: center;

        .dropdown-item {
            width: 100%;
        }
    }

    .nav-item {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .sidebar {
        width: 30px; /* Adjust the width as needed */
        &.collapsed {
            width: 30px; /* Narrower width for collapsed state */
        }
        &.expanded {
            width: 200px; /* Width for expanded state */
        }
        .nav-link {
            justify-content: start;
        }
    }

    .content-container {
        margin-top: 20px;
    }
}

// Import Bootstrap
@import 'bootstrap/scss/bootstrap';