.logo {
    height: 2rem;
    width: auto;  
    border-radius: 10%;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
  }

  .sidebar.collapsed {
    width: 60px;
    transition: width 0.3s;
}

.sidebar.expanded {
    width: 250px;
    transition: width 0.3s;
}

.sidebar.collapsed-mobile {
    display: none;
}
